/*---------- GENERAl ----------*/
*{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size:14px;
}
.main-container{
    text-align:center;
}
figure img{
    width:100%;
}


/*---------- FONT-WEIGHT, BG-COLOR ----------*/
.header-title h1, #icons-stripe .icon-container h4 {
    font-weight: 900;
}
.header-title h2, #icons-stripe .icon-container p, #next-events a, #support-us >a{
    font-weight: 300;
}
section h3, .card-title{
    font-weight:700;
}
#icons-stripe, #next-events a, #support-us >a, footer{
    background-color: #10305E;
}

/*---------- HEADER (NAV & HERO )-----------*/
header{
    background-image: url('images/montpellier-background.png');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    min-height: 550px;
    height:650px;
}

header figure{
    min-width:65px;
}

header nav ul li a{
    font-weight: 700;
    font-size:12px;
}

header nav {
    height:100px;
}

.header-title{
    margin-top:20px;
}

.header-title h1{
    font-size:30px;
}

.header-title h1 span{
    color:rgba(255, 255, 255, 0.6);
    font-size:22.5px;
}

.header-title h2{
    font-size:20px;
}

/*---------- SECTIONS -----------*/
section h3{
    font-weight:700;
    font-size:30px;
}
/*---------- SECTION INTRO -----------*/
#introduction{
    margin:-30px auto 50px;
}

/*---------- SECTION ICONS-STRIPE -----------*/

#icons-stripe .icon-container{
    max-width:170px;
}

/*---------- SECTION NEXT-EVENTS -----------*/
#next-events .card p svg{
    margin:-4px 4px 0 0;
}

/*---------- SECTION SUPPORT-US -----------*/
#support-us figure{
    max-width:110px;
}
#support-us .btns-container a:nth-child(1){
    background-color:#CFD6DF;
}
#support-us .btns-container a:nth-child(2){
    background-color:#9EABBE;
}
#support-us .btns-container a:nth-child(3){
    background-color:#6D809D;
}
#support-us .btns-container a:nth-child(4){
    background-color:#3F597E;
}

/*---------- FOOTER -----------*/
footer .footer-logo figure{
    max-width:50px;
}

footer nav li {
    font-size:14px;
}
footer .social-icons-container a{
    color:unset;
}
footer .social-icons-container a img{
    max-width:18px;
    max-height:18px;
    opacity:0.5;
}

footer p{
    font-size:10px;
}

footer p:last-child{
    font-size:8px;
}








